<h1 class="clickable" data-toggle="collapse" id="row1" data-target=".row1">Installation group</h1>
<table class="table table-responsive table-hover flat-table">
    <tbody>
        <tr class="collapse row1">
            <th>Job name</th>
            <th>status</th>
            <th>duration</th>
            <th>last execution</th>
        </tr>
        <tr class="collapse row1">
            <td>Job name 1</td>
            <td>status 1</td>
            <td>duration 1</td>
            <td>last execution 1</td>
        </tr>
        <tr class="collapse row1">
            <td>Job name 2</td>
            <td>status 2</td>
            <td>duration 2</td>
            <td>last execution 2</td>
        </tr>
    </tbody>
</table>