<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    <add key="userName" value="" />
    <add key="userPassword" value="" />
    <add key="ciUrl" value="http://10.58.100.227:8080" />
    <add key="ciType" value="Jenkins" />
    -->
    <add key="ciUserName" value="admin" />
    <add key="ciUserPassword" value="admin" />
    <add key="ciUrl" value="http://localhost:8080" />
    <add key="ciType" value="Jenkins" />
  </appSettings>
</configuration>