@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Reports";
}
<html>
<head>
    <title>Autotests Data</title>
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#startedFromDate, #startedToDate").datepicker();
        });
    </script>
    <script>
        $(function () {
            $("td[colspan=3]").find("div").hide();
            $("tr").click(function (event) {
                var $target = $(event.target);
                $target.closest("tr").next().find("div").slideToggle();
            });
        });
    </script>
</head>
<body>
    <div class="filter_block">
        @using (Html.BeginForm("Results", "TestResults", FormMethod.Get))
        {
            <text>Started build from:</text> @Html.TextBox("startedFromDate")
            <text>Started build to:</text> @Html.TextBox("startedToDate")
            <input type="submit" value="Search" />
        }
    </div>
    <script src="~/scripts/custom.js"></script>
    <table>
        <thead>
            <tr>
                <th>one</th>
                <th>two</th>
                <th>three</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><p>data<p></td>
                <td>data</td>
                <td>data</td>
            </tr>
            <tr>
                <td colspan="3">
                    <div>
                        <table>
                            <tr>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
